@import "../../styles/base.scss";

.container {
  @include container;
  .title {
    margin-bottom: 1rem;
  }

  .cardContainer {
    @include directionX;
    margin-top: 2rem;
    .card {
      @include directionY;
      font-family: $font-body;
      border: 3px solid white;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 1px 1px rgba(180, 180, 180, 0.247);
      width: 180px;
      height: 150px;
      text-align: center;
      justify-content: space-between;
      padding: 1rem 0;
      margin-right: 4rem;
      position: relative;

      img {
        width: 120px;
        position: absolute;
        bottom: 3.5rem;
        right: 1.7rem;
        border-radius: 100%;
      }
      .name {
        text-decoration: none;
        color: black;
        margin-top: 1rem;
      }
    }
  }
}
