@import "../../styles/base.scss";

.container {
  @include container;
  .title {
    margin-bottom: 1rem;
  }

  .cardContainer {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 4rem;
    button {
      @include button;
      width: 80%;
      margin: auto;
    }
    .card {
      @include directionY;
      font-family: $font-body;
      border: 3px solid white;
      border-radius: 0.5rem;
      box-shadow: 1px 1px 1px 1px rgba(180, 180, 180, 0.247);
      width: 180px;
      height: 150px;
      text-align: center;
      justify-content: space-between;
      padding: 1rem 0;
      position: relative;
      height: 150px;
      margin-top: 3rem;
      //   margin-right: 4rem;
      img {
        width: 100px;
        position: absolute;
        bottom: 8.3rem;
        right: 2.3rem;
        border-radius: 100%;
      }
    }
  }
}
